<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    
    <!--XML criado para testar a conexão com banco de dados -->
    <bean id="DataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="org.apache.derby.jdbc.ClientDriver"/>
        <property name="url" value="jdbc:derby://localhost:1527/Responsive"/>
        <property name="username" value="nbUser"/>
        <property name="password" value="nbUser"/>
    </bean>
	
    <bean id="SessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="DataSource" />
        <property name="annotatedClasses">
            <list>
                <value>br.com.diego.model.Comentario</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.DerbyDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">create</prop>
            </props>
        </property>
    </bean>
    
    <bean id="ComentarioDAO" class="br.com.diego.dao.ComentarioDAOImpl">
        <property name="sessionFactory" ref="SessionFactory"/>
    </bean>
    
    <bean name="metodo-agil" class="br.com.diego.controller.MetodoAgilController" >
        <property name="comentarioDAO" ref="ComentarioDAO" />
    </bean>
    
    <bean name="cloud-computing" class="br.com.diego.controller.CloudComputingController" >
        <property name="comentarioDAO" ref="ComentarioDAO" />
    </bean>
    
    <bean name="programacao" class="br.com.diego.controller.ProgramacaoController" >
        <property name="comentarioDAO" ref="ComentarioDAO" />
    </bean>
    
    <bean name="rede-social" class="br.com.diego.controller.RedeSocialController" >
        <property name="comentarioDAO" ref="ComentarioDAO" />
    </bean>

</beans>
